<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Django Workshop</title>
    </head>
    <body>
        <ul>
            <table border="1">
                <tr>
                    <th>Firstname</th>
                    <th>lastname</th>
                    <th>email</th>
                    <th>gender</th>
                </tr>
                    {% for student in students %}
                    <tr>
                        <td>{{student.first_name}}</td>
                        <td>{{student.last_name}}</td>
                        <td>{{student.email}}</td>
                        <td>{{student.gender}}</td>
                    </tr>
                    {% endfor %}
            </table>
            <form id="addDataForce" method="post">
                {% csrf_token %}
                <h1>Login form</h1>
                <label for="first_name">First Name:</label>
                <input type="text" id="first_name" name="firstname" required><br>
                <label for="last_name">Last Name:</label>
                <input type="text" id="last_name" name="lastname" required><br>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required><br>
                <label for="gender">gender:</label>
                <input type="text" id="gender" name="gender" required><br>
                <input type="submit" name="submit">
            </form>
        </ul>
    </body>
</html>